{% extends "base.html" %}
{% block start %}
<div class="container">

  <div class="container mt-5">
    <h1>Email Page</h1>
    <a href="{% url 'send_email' %}" class="btn btn-warning">Send Mail</a>
  </div>
<table class="container mt-5">
  <tr>
    <th>s.no</th>
    <th>name</th>
    <th>age</th>
    <th>can vote</th>
  </tr>
  {%for people in peoples%}
  <tr>
    <td>{{forloop.counter}}
   
    </td>
    <td>{{people.name}}</td>
    <td>{{people.age}}</td>
    <td {% if people.age >= 18 %} style="background: green;" {% else %} style="background: red;" {% endif %}>
      {% if people.age >= 18 %}
      👍
      {% else %}
      👎
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

      {% endblock %}